<footer role="contentinfo">
  <p class="builtWith box">
      Zbudowane za pomocą
      <a href="https://www.11ty.dev/">
        Eleventy
        <span class="sr-only">&nbsp;(łącze zewnętrzne)</span>
        {% include "icons/external-link.svg" %}-
      </a>
    </p>
    <div>
      <p>® 2014 —&nbsp;2022 <strong>Gaël Poupard</strong><br/>® 2021 — <strong>Pracownia Dostępności Cyfrowej LepszyWeb</strong></p>
      <p>Projekt jest udostępniany na warunkach licencji <a href="https://opensource.org/licenses/MIT">MIT</a> oraz <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>. <a href="#skip-links">Wróć na początek</a></p>
    </div>
</footer>
