@charset "UTF-8";

/*doc
---
title: "<select required> powinien zaczynać się od <option> z pustą [value]"
name: empty-option-on-select
category: Porady
---

### Opis
Element `<select required>`, który nie jest `[multiple]` i którego `[size]` nie jest większy niż `1`, powinien zaczynać się od pustej `<option>`.
Biorąc to pod uwagę, możesz użyć zawartości placeholder dla tej opcji, ale musisz upewnić się, że używasz pustego atrybutu `[value]` lub ustawić atrybut `[size]` do `<select>`,
którego wartość powinna być równa liczbie `<option>`.


### Bibliografia
* <https://twitter.com/WebPlatformNews/status/1346492730223058946>
* <https://html.spec.whatwg.org/multipage/form-elements.html#placeholder-label-option>
* <https://validator.w3.org/nu/?showsource=yes&doc=https%3A%2F%2Fjsbin.com%2Ftozopid%2Fquiet>

### Selektor
```css
select[required]:not([multiple])[size="1"],
select[required]:not([multiple]):not([size])
```

### Test
```html
<select name="slices" required>
  <option value="1">Ser</option>
  <option value="2">Salami</option>
</select><span>†</span>
```
*/
select[required]:not([multiple])[size="1"],
select[required]:not([multiple]):not([size]) {
  @include advice('select-option-not-empty', $self-closing: true);
}


/*doc
---
title: "Pusty atrybut [class]"
name: empty-class
category: Porady
---

#### Opis
Atrybut `[class]` nie powinien istnieć, jeśli jest pusty. Coś do poprawienia, prawda?

#### Selektor
```css
[class=""],
[class=" "]
```

#### Test
``` html
<b class="">Czemu tu jest atrybut klasy?</b>
```
*/
[class=""],
[class=" "] {
  @include advice('empty-class');

  @include void-tags {
    @include advice('empty-class', $self-closing: true);
  }
}


/*doc
---
title: "Pusty atrybut [id]"
name: empty-id
category: Porady
---

#### Opis
`[id]` nie powinien istnieć, jeśli jest pusty. Podziękujesz mi później.

#### Selektor
```css
[id=""],
[id=" "]
```

#### Test
``` html
<i id="">Chwila. Dlaczego mój ID jest pusty?</i>
```
*/
[id=""],
[id=" "] {
  @include advice('empty-id');

  @include void-tags {
    @include advice('empty-id', $self-closing: true);
  }
}


/*doc
---
title: "Drugi znacznik main"
name: main
category: Porady
---

#### Opis
W danym momencie powinien być widoczny tylko jeden `<main>`. Czy to nie jest oczywiste?

#### Bibliografia
* <https://www.w3.org/TR/html52/changes.html#new-concepts>
* <https://www.w3.org/TR/html52/grouping-content.html#elementdef-main>

#### Selektor
```css
main ~ main:not([hidden])
```

#### Test
``` html
<main>Ja jestem główną treścią!</main>
<main>Nie, to ja jestem!</main>
```
*/
main ~ main:not([hidden]) {
  @include advice('main');
}


/*doc
---
title: "Drugi znacznik figcaption"
name: figcaption
category: Porady
---

#### Opis
Tylko jeden `<figcaption>` powinien być wewnątrz swojego rodzica. Sprawdź specyfikację!

#### Bibliografia
* <https://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-figure-element>

#### Selektor
```css
figcaption:not(:first-of-type)
```

#### Test
``` html
<figure role="group">
  <figcaption>Jestem podpisem.</figcaption>
  <img src="./static/ffoodd.png" alt="Potrzebny" width="144" height="144" />
  <figcaption>Ja też jestem podpisem.</figcaption>
</figure>
```
*/
figcaption:not(:first-of-type) {
  @include advice('figcaption');
}


/*doc
---
title: "Kolejność figcaption"
name: figcaption-order
category: Porady
---

#### Opis
Element `<figcaption>` powinien być pierwszym lub ostatnim dzieckiem. Nie inaczej.

#### Bibliografia
* <https://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-figure-element>

#### Selektor
```css
figcaption:not(:first-child):not(:last-child)
```

#### Test
``` html
<figure role="group">
  <img src="./static/ffoodd.png" alt="Potrzebny" width="144" height="144" />
  <figcaption>Jestem podpisem.</figcaption>
  <p>Jestem kimś innym. Oh, czekaj.</p>
</figure>
```
*/
figcaption:not(:first-child):not(:last-child) {
  @include advice('figcaption-order');
}


/*doc
---
title: "Łącze e-mail powinno być poprawne"
name: mailto
category: Porady
---

#### Opis
Łącze `<href="mailto:">` powinnno mieć poprawny adres e-mail.
W przeciwnym razie możesz zirytować swoich użytkowników.

#### Selektor
```css
[href^="mailto"]
```

#### Test
``` html
<a href="mailto:dosiebie">Niespo-dzianka!</a>
```
*/
[href^="mailto"] {
  @include advice('mailto');
}


/*doc
---
title: "Łącze telefoniczne powinno dzwonić pod rzeczywisty numer"
name: tel
category: Porady
---

#### Opis
Łącze `<href="tel:">` powinnno powinno zawierać prawidłowy numer telefonu.
W przeciwnym razie możesz zmusić użytkowników do dzwonienia do Berdyczowa.

#### Selektor
```css
[href^="tel"]
```

#### Test
``` html
<a href="tel:012345678">Do kogo zadzwonię?</a>
```
*/
[href^="tel"] {
  @include advice('tel');
}


/*doc
---
title: "[role=button] w łączu"
name: role-button
category: Porady
---

#### Opis
Oczywiście, rola przycisku w znaczniku łącza nie jest chyba tak trudna do przeniesienia do autentycznego znacznika przycisku, prawda?

#### Bibliografia
* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L174>

#### Selektor
```css
a[role="button"]
```

#### Test
``` html
<a href="/" role="button">Wyślij</a>
```
*/
a[role="button"] {
  @include advice('role-button');
}


/*doc
---
title: "Łącze otwiera nową kartę"
name: target-blank
category: Porady
---

#### Opis
Łącze otwierające nową kartę lub okno powinno ostrzegać użytkownika o swoim zachowaniu.
Możesz użyć na przykład `[title]`.

#### Bibliografia
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-13-2>
* <https://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs>
* <https://www.w3.org/TR/WCAG20/#consistent-behavior-no-extreme-changes-context>
* <https://www.w3.org/TR/WCAG-TECHS/H33.html>
* <https://www.w3.org/TR/WCAG-TECHS/H83.html>
* <https://www.w3.org/TR/WCAG-TECHS/F22.html>

#### Selektor
```css
[target$="blank"]
```

#### Test
``` html
<a href="/" target="_blank" rel="noopener noreferrer">Nowa karta</a>
```
*/
[target$="blank"] {
  @include advice('target-blank');
}


/*doc
---
title: "Łącze do pliku"
name: file-format
category: Porady
---

#### Opis
Łącze do pliku powinno wskazywać format pliku, rozmiar pliku oraz język pliku, jeśli jest inny niż w dokumencie głównym.

#### Bibliografia
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-13-6>
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-13-7>
* <https://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs>
* <https://www.w3.org/TR/WCAG-TECHS/H33.html>

#### Selektor
```css
[download],
[href$=".pdf"]:not(link),
[href$=".doc"]:not(link),
[href$=".png"]:not(link),
[href$=".jpg"]:not(link),
[href$=".gif"]:not(link),
[href$=".mp3"]:not(link),
[href$=".mp4"]:not(link),
[href$=".mov"]:not(link),
[href$=".ogg"]:not(link),
[href$=".xls"]:not(link),
[href$=".txt"]:not(link),
[href$=".zip"]:not(link),
[href$=".rar"]:not(link),
[href$=".docx"]:not(link),
[href$=".webp"]:not(link),
[href$=".apng"]:not(link),
[href$=".svg"]:not(link),
[href$=".svgz"]:not(link)
```

#### Test
``` html
<a href="/file.png">Chcesz złożyć wniosek?</a>
```
*/
$href: ('[download]');

@each $format in $formats {
  $href: append($href, unquote('[href$=".#{$format}"]:not(link)'), 'comma');
}

#{$href} {
  @include advice('file-format');
}


/*doc
---
title: "Powtórzona rola"
name: duplicate-roles
category: Porady
---

#### Opis
Niektóre role ARIA powinny być unikalne: `[main]`, `[search]`, `[banner]`, `[contentinfo]`.

#### Bibliografia
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-12-10>
* <https://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip>

#### Selektor
```css
[role="main"] ~ [role="main"],
[role="search"] ~ [role="search"],
[role="banner"] ~ [role="banner"],
[role="contentinfo"] ~ [role="contentinfo"]
```

#### Test
``` html
<main role="main"><br /></main>
<div role="main"><br /></div>
```
*/
[role="main"] ~ [role="main"],
[role="search"] ~ [role="search"],
[role="banner"] ~ [role="banner"],
[role="contentinfo"] ~ [role="contentinfo"] {
  @include advice('duplicate-roles');
}


/*doc
---
title: "Może pełni [role] search?"
name: missing-role
category: Porady
---

#### Opis
Elementy z `[class]` lub `[id]` zawierające search mogą mieć `[role]` wyszukiwania.

#### Bibliografia
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-12-10>
* <https://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip>

#### Selektor
```css
[id*="search"]:not([role="search"]),
[class*="search"]:not([role="search"])
```

#### Test
``` html
<form class="search" action="">
  <label for="field">Szukaj</label>
  <input type="search" id="field" /><span>†</span>
</form>
```
*/
[id*="search"]:not([role="search"]),
[class*="search"]:not([role="search"]) {
  @include advice('missing-role');
}

input[id*="search"]:not([role="search"]),
input[class*="search"]:not([role="search"]) {
  @include advice('missing-role', $self-closing: true);
}

[role="search"] [id*="search"]:not([role="search"]),
[role="search"] [class*="search"]:not([role="search"]) {
  @extend %a11y-reset;
}


/*doc
---
title: "Czy to wygląda jak [required]?"
name: required
category: Porady
---

#### Opis
Pole wymagane - `[required]` lub `[aria-required]` powinno być wskazane wizualnie.

#### Bibliografia
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-11-10>
* <https://www.w3.org/TR/WCAG20/#minimize-error-cues>

#### Selektor
```css
[required],
[aria-required]
```

#### Test
``` html
<form action="">
  <label for="field">Drobiazg</label>
  <textarea id="field" required></textarea><span>†</span>
</form>
```
*/
[required],
[aria-required] {
  @include advice('required', $self-closing: true);
}

input[required],
input[aria-required],
select[required],
select[aria-required],
textarea[required],
textarea[aria-required] {
  @include advice('required', $self-closing: true);
}


/*doc
---
title: "Nie :puste [hidden] rzeczy"
name: hidden
category: Porady
---

#### Opis
Użycie `[hidden]` lub `[aria-hidden]` może nie być dobrym pomysłem na ukrycie treści.

#### Bibliografia
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-10-13>
* <https://www.w3.org/TR/WCAG20/#ensure-compat-rsv>

#### Selektor
```css
[hidden]:not(:empty),
[aria-hidden="true"]:not(:empty)
```

#### Test
``` html
<a href="/" aria-hidden="true">Ważna rzecz!</a>
```
*/
[hidden]:not(:empty),
[aria-hidden="true"]:not(:empty) {
  @include advice('hidden');

  @include void-tags {
    @include advice('hidden', $self-closing: true);
  }
}


/*doc
---
title: "Placeholder nie może zastępować etykiety"
name: placeholder
category: Porady
---

#### Opis
Przecież `[placeholder]` nie jest etykietą, prawda?

#### Selektor
```css
[placeholder]:not([title]):not([aria-label]):not([aria-labelledby])
```

#### Test
``` html
<input type="text" placeholder="Zobacz mamo, nie ma etykiety!" id="test"><span>†</span>
```
*/
[placeholder]:not([title]):not([aria-label]):not([aria-labelledby]) {
  @include advice('placeholder', $self-closing: true);
}

label [placeholder]:not([title]):not([aria-label]):not([aria-labelledby]) {
  @extend %a11y-reset;
}


/*doc
---
title: "Rzeczy dla video lub audio"
name: video-audio
category: Porady
---

#### Opis
Elementy `<video>` lub `<audio>` potrzebują kilku rzeczy, aby były dostępne, takich jak transkrypcja, napisy rozszerzone, kontrolki.

#### Bibliografia
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-4-1>
* <https://www.w3.org/TR/WCAG20/#media-equiv-av-only-alt>
* <https://www.w3.org/TR/WCAG20/#media-equiv-audio-desc>
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-4-13>
* <https://www.w3.org/TR/WCAG20/#media-equiv-text-doc>

#### Selektor
```css
video,
audio
```

#### Test
``` html
<video src="/" controls></video><span>†</span>
```
*/
video,
audio {
  @include advice('video-audio', $self-closing: true);
}


/*doc
---
title: "[title] powinnien być równy alt"
name: title
category: Porady
---

#### Opis
`[title]` każdej treści graficznej powinien być taki sam jak `[aria-label]` lub `[alt]`.

#### Bibliografia
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-1-3>
* <https://www.w3.org/TR/WCAG20/#text-equiv-all>
* <https://www.w3.org/WAI/tutorials/images/decision-tree/>
* <https://www.w3.org/TR/html51/semantics.html#alt>

#### Selektor
```css
img[alt][title],
area[alt][title],
svg[aria-label][title]
```

#### Test
``` html
<img src="./static/ffoodd.png" alt="Jestem tekstem alternatywnym!" title="Jestem tytułem!" height="144" width="144"><span>†</span>
```
*/
img[alt][title],
area[alt][title],
svg[aria-label][title] {
  @include advice('title', $self-closing: true);
}


/*doc
---
title: "Data i godzina powinny być zrozumiałe"
name: time
category: Porady
---

#### Opis
Zawartość `<time>` lub `[datetime]` powinna być zrozumiałą i dobrze sformułowaną datą.

#### Selektor
```css
time,
[datetime]
```

#### Test
``` html
<time>Wczoraj</time>
```
*/
time,
[datetime] {
  @include advice('time');
}


/*doc
---
title: "[scope] powinien być albo col albo row"
name: th-scope
category: Porady
---

#### Opis
Wartość `[scope]` może być `col` lub `row` (i nic innego) i musi być istotna.

#### Bibliografia
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-5-7>
* <https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic>
* <https://www.w3.org/TR/WCAG-TECHS/H63.html>

#### Selektor
```css
th[scope]
```

#### Test
``` html
<table>
  <caption>Jestem podpisem</caption>
  <thead>
    <tr>
      <th scope="col">Pierwsza kolumna</th>
      <td>Druga kolumna</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pierwsza komórka</td>
      <td>Druga komórka</td>
    </tr>
    <tr>
      <td>Pierwsza komórka</td>
      <td>Druga komórka</td>
    </tr>
  </tbody>
</table>
```
*/
th[scope] {
  @include advice('th-scope');
}


/*doc
---
title: "Użyto tabeli układu"
name: table-presentation
category: Porady
---

#### Opis
Atrybut `[role="presentation"]` jest dobrym pomysłem dla każdej `<table>` używanej dla układu, ale złą rzeczą dla tabeli danych. Sprawdź to dwukrotnie!

#### Bibliografia
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-5-3>
* <https://www.w3.org/TR/WCAG20/#content-structure-separation-sequence>

#### Selektor
```css
table[role="presentation"]
```

#### Test
``` html
<table role="presentation">
  <tr>
    <td>Pierwsza komórka</td>
    <td>Druga komórka</td>
  </tr>
  <tr>
    <td>Pierwsza komórka</td>
    <td>Druga komórka</td>
  </tr>
</table>
```
*/
table[role="presentation"] {
  @include advice('table-presentation');
}


/*doc
---
title: "Brak [href]"
name: no-href
category: Porady
---

#### Opis
Czy poprawne jest pominięcie atrybutu `[href]` w łączu? Prawdopodobnie lepiej to sprawdzić dwa razy, prawda?

#### Bibliografia
* <https://www.w3.org/TR/html/links.html#links-created-by-a-and-area-elements>
* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L161>
* <https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L165>

#### Selektor
```css
a:not([href])
```

#### Test
``` html
<a>Kim jestem? Gdzie prowadzę?</a>
```
*/
a:not([href]) {
  @include advice('no-href');
}


/*doc
---
title: "URL nie HTTPS"
name: no-https
category: Porady
---

#### Opis
Gdy to możliwe, staraj się używać HTTPS.

#### Bibliografia
* <https://twitter.com/fvsch/status/921748801542639616>
* <https://transparencyreport.google.com/https/overview?hl=en>
* <https://letsencrypt.org/>
* <https://checklists.opquast.com/oqs-v3/criteria/les-echanges-de-donnees-sensibles-sont-securises-et-signales-comme-tels>

#### Selektor
```css
[src^="http:"],
[href^="http:"]
```

#### Test
``` html
<a href="http://www.ffoodd.fr/">Protokół mojego celu nie jest zabezpieczony</a>
```
*/
[src^="http:"],
[href^="http:"] {
  @include advice('no-https');
}
