@charset 'UTF-8';

/*doc
---
title: "[accesskey] to zły pomysł"
name: a01-accesskey
category: Błędy
---

##Opis
Atrybut `[accesskey]` jest przeznaczony do implementacji skrótów klawiaturowych specyficznych dla danej witryny. Jest to zazwyczaj zły pomysł, ponieważ skróty klawiaturowe mogą być już używane przez system operacyjny, przeglądarkę, rozszerzenie przeglądarki, a nawet ustawienia użytkownika…

To jest opinia: w idealnym świecie `[accesskey]` może być używany mądrze. Yup. Być może.

##Bibliografia
* [K.Groves. Diagnostic.css - L159](https://github.com/karlgroves/diagnostic.css/blob/39ede15ff46bd59af9f8f30efb04cbb45b6c1ba5/diagnostic.css#L159)
* [Using accesskey attribute in HTML forms and links](https://www.cs.tut.fi/~jkorpela/forms/accesskey.html)
* [MDN Web Docs. Accesskey](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/accesskey)
* [HTML. Living standard. 6.6.2 The accesskey attribute](https://html.spec.whatwg.org/multipage/interaction.html#the-accesskey-attribute)
* [More reasons why we don’t use accesskeys](http://john.foliot.ca/more-reasons-why-we-dont-use-accesskeys/)
* [Accesskey le grand échec de l'accessibilité du Web](https://www.alsacreations.com/article/lire/568-Accesskey-le-grand-echec-de-l-accessibilite-du-Web.html)

##Selektor
```css_example
[accesskey]
```

##Test
```html_example
<a id="key" name="key" accesskey="1">Przejdź do tego łącza, używając <kbd>1</kbd></a>
```
*/
[accesskey] {
  @include error('accesskey');
}


/*doc
---
title: "Atrybut zdarzenia Javascript"
name: a02-js-events
category: Błędy
---

##Opis
Atrybuty zdarzeń Javascript (takie jak `[onmouseover]`) nie powinny być używane.
Preferuj albo pseudo-klasy CSS (`:hover`, `:focus`, `:active`, etc.) albo obserwatory zdarzeń JS.

##Bibliografia
* [MDN Web Docs. Pseudo-classes](https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes)
* [MDN Web Docs. EventTarget.addEventListener()](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget.addEventListener)

##Selektor
```css_example
[onafterprint], [onbeforeprint], [onbeforeunload],
[onerror], [onhaschange], [onload], [onmessage],
[onoffline], [ononline], [onpagehide], [onpageshow],
[onpopstate], [onredo], [onresize], [onstorage],
[onundo], [onunload],
[onblur], [onchage], [oncontextmenu], [onfocus],
[onformchange], [onforminput], [oninput], [oninvalid],
[onreset], [onselect], [onsubmit],
[onkeydown], [onkeypress], [onkeyup],
[onclick], [ondblclick], [ondrag], [ondragend],
[ondragenter], [ondragleave], [ondragover],
[ondragstart], [ondrop], [onmousedown], [onmousemove],
[onmouseout], [onmouseover], [onmouseup], [onmousewheel],
[onscroll],
[onabort], [oncanplay], [oncanplaythrough],
[ondurationchange], [onemptied], [onended], [onerror],
[onloadeddata], [onloadedmetadata], [onloadstart],
[onpause], [onplay], [onplaying], [onprogress],
[onratechange], [onreadystatechange], [onseeked],
[onseeking], [onstalled], [onsuspend], [ontimeupdate],
[onvolumechange], [onwaiting]
```

##Test
```html_example
<span onclick="alert('Kliknąłeś!');">Kliknij kliknij kliknij</span>
```
*/
[onafterprint], [onbeforeprint], [onbeforeunload],
[onerror], [onhaschange], [onload], [onmessage],
[onoffline], [ononline], [onpagehide], [onpageshow],
[onpopstate], [onredo], [onresize], [onstorage],
[onundo], [onunload],
[onblur], [onchage], [oncontextmenu], [onfocus],
[onformchange], [onforminput], [oninput], [oninvalid],
[onreset], [onselect], [onsubmit],
[onkeydown], [onkeypress], [onkeyup],
[onclick], [ondblclick], [ondrag], [ondragend],
[ondragenter], [ondragleave], [ondragover],
[ondragstart], [ondrop], [onmousedown], [onmousemove],
[onmouseout], [onmouseover], [onmouseup], [onmousewheel],
[onscroll],
[onabort], [oncanplay], [oncanplaythrough],
[ondurationchange], [onemptied], [onended], [onerror],
[onloadeddata], [onloadedmetadata], [onloadstart],
[onpause], [onplay], [onplaying], [onprogress],
[onratechange], [onreadystatechange], [onseeked],
[onseeking], [onstalled], [onsuspend], [ontimeupdate],
[onvolumechange], [onwaiting] {
  @include error('js-events');
}


/*doc
---
title: "Atrybuty [width] i [height]"
name: a03-dimensions
category: Błędy
---

##Opis
`[width]` i `[height]` są informacjami o prezentacji (o wyglądzie). Dlatego nie powinny być używane w znacznikach, poza `<img>`. Zamiast tego używaj CSS.

##Bibliografia
* [RGAA. 10. Prezentacja informacji](https://rgaa.lepszyweb.pl/pl/criteres.html#prezentacja)
* [RGAA. Kryterium 10.1 [A]](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-10-1)
* [1.3.1 Informacje i relacje](https://wcag.lepszyweb.pl/#info-and-relationships)
* [1.3.2 Zrozumiała kolejność](https://wcag.lepszyweb.pl/#meaningful-sequence)

##Selektor
```css_example
:not(img):not(object):not(embed):not(svg):not(canvas)[width],
:not(img):not(object):not(embed):not(svg):not(canvas)[height]
```

##Test
```html_example
<p width="20">Cholera! Źle się czuję :(</p>
```
*/
:not(img):not(object):not(embed):not(svg):not(canvas)[width],
:not(img):not(object):not(embed):not(svg):not(canvas)[height] {
  @include error('dimensions');

  @include void-tags {
    @include error('dimensions', $self-closing: true);
  }
}

/*doc
---
title: "Atrybuty z białymi znakami"
name: a04-attribute-whitespace
category: Błędy
---

##Opis
Niektóre atrybuty HTML nie powinny zawierać żadnych białych znaków - mianowicie `[id]`, `[lang]` oraz `map[name]`.

##Bibliografia
* [HTML Living Standard. Global attributes](https://html.spec.whatwg.org/#the-id-attribute)
* [HTML Living Standard. The map element](https://html.spec.whatwg.org/#the-map-element)
* [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47#section-2.1.1)

##Selektor
```css_example
[id*=" "],
[lang*=" "],
map[name*=" "]
```

## Test
```html_example
<p id="my id">To jest mój piękny element z ID</p>
```
*/
[id*=" "],
[lang*=" "],
map[name*=" "] {
  @include error('attribute-whitespace');
  
  @include void-tags {
    @include error('attribute-whitespace', $self-closing: true);
  }
}

/*doc
---
title: "Brak alt w img"
name: a05-no-alt
category: Błędy
---

##Opis
`<img>` musi mieć `[alt]`. Zawsze.

##Bibliografia
* [RGAA. Kryterium 1.1](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-1-1)
* [Web Accessibility Tutorials: An alt Decision Tree](https://www.w3.org/WAI/tutorials/images/decision-tree/)
* <https://www.w3.org/TR/html51/semantics.html#alt>
* [KS 1.1.1 Treści nietekstowe](https://wcag.lepszyweb.pl/#non-text-content)
* [H36: Użycie atrybutów alt na obrazach używanych jako przyciski przesyłania](https://www.w3.org/WAI/WCAG21/Techniques/html/H36)
* [H37: Użycie atrybutów alt w elementach img](https://www.w3.org/WAI/WCAG21/Techniques/html/H37)
* [H24: Zapewnienie alternatyw tekstowych dla elementów obszaru map obrazów](https://www.w3.org/WAI/WCAG21/Techniques/html/H24)
* [F65: Niespełnienie kryterium sukcesu 1.1.1 z powodu pominięcia atrybutu alt lub tekstu  alternatywnego w elementach img, elementach area i polach typu "image"](https://www.w3.org/WAI/WCAG21/Techniques/failures/F65)

##Selektor
```css_example
img[alt=" "],
area[alt=" "],
input[type="image"][alt=" "],
img:not([alt]),
area:not([alt]),
input[type="image"]:not([alt])
```

##Test
```html_example
<img src="static/ffoodd.png" width="144" height="144" /><span>†</span>
```
*/
img[alt=" "],
area[alt=" "],
input[type="image"][alt=" "],
img:not([alt]),
area:not([alt]),
input[type="image"]:not([alt]) {
  @include error('no-alt', $self-closing: true);
}


/*doc
---
title: "Brak etykiety dla [role=img]"
name: a06-no-aria-label
category: Błędy
---

##Opis
Element z `[role=img]` powinien mieć albo `[aria-label]` albo `[aria-labelledby]`. Jeśli obraz jest dekoracyjny, użyj `[role=presentation]` zamiast `[role=img]`.

##Bibliografia
* [WAI-ARIA 1.2 img (role)](https://www.w3.org/TR/wai-aria-1.2/#img)
* [KS 1.1.1 Treści nietekstowe](https://wcag.lepszyweb.pl/#non-text-content)
* [Web Accessibility Tutorials: An alt Decision Tree](https://www.w3.org/WAI/tutorials/images/decision-tree/)
* [WAI-ARIA 1.2 presentation (role)](https://www.w3.org/TR/wai-aria-1.2/#presentation)
* [WAI-ARIA 1.2 Accessible Name and Description Computation](https://www.w3.org/TR/wai-aria-1.2/#textalternativecomputation)

##Selektor
```css_example
[role="img"]:not([aria-label]):not([aria-labelledby]),
svg[role="img"]:not([aria-label]):not([aria-labelledby])
```

##Test
```html_example
<svg width="12cm" height="4cm" viewBox="0 0 1200 400"
     xmlns="https://www.w3.org/2000/svg" version="1.1" role="img">
  <rect x="400" y="100" width="400" height="200"
        fill="forestgreen" stroke="darkgreen" stroke-width="10"  />
</svg><span>†</span>
```
*/
[role="img"]:not([aria-label]):not([aria-labelledby]) {
  @include error('no-aria-label');
}

svg[role="img"]:not([aria-label]):not([aria-labelledby]) {
  @include error('no-aria-label', $self-closing: true);
}

/*doc
---
title: "Brak jakiejś etykiety"
name: a07-no-id
category: Błędy
---

##Opis
Jak oznaczyć pole? Masz kilka opcji do wyboru: `[id]`, `[title]`, `[aria-label]` oraz `[aria-labelledby]`.

##Bibliografia
* [RGAA. Kryterium 11-1](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-11-1)
* [KS 3.3.2 Etykiety lub instrukcje](https://wcag.lepszyweb.pl/#labels-or-instructions)
* [KS 2.4.6 Nagłówki i etykiety](https://wcag.lepszyweb.pl/#headings-and-labels)
* [KS 1.3.1 Informacje i relacje](https://wcag.lepszyweb.pl/#info-and-relationships)
* [H44: Używanie elementu label do kojarzenia etykiet tekstowych z formantami formularzy](https://www.w3.org/WAI/WCAG21/Techniques/html/H44)

##Selektor
```css_example
input:not([type="button"]):not([type="submit"]):not([type="hidden"]):not([type="reset"]):not([type="image"]):not([id]):not([aria-label]):not([title]):not([aria-labelledby]),
textarea:not([id]):not([aria-label]):not([aria-labelledby]),
select:not([id]):not([aria-label]):not([aria-labelledby])
```

##Test
```html_example
<input type="text" /><span>†</span>
```
*/
input:not([type="button"]):not([type="submit"]):not([type="hidden"]):not([type="reset"]):not([type="image"]):not([id]):not([aria-label]):not([title]):not([aria-labelledby]),
textarea:not([id]):not([aria-label]):not([aria-labelledby]),
select:not([id]):not([aria-label]):not([aria-labelledby]) {
  @include error('no-id', $self-closing: true);
}


/*doc
---
title: "Brak wartości"
name: a08-no-value
category: Błędy
---

##Opis
Jak oznaczyć etykietą pożąane dane wejściowe typu `[reset]`, `[submit]` or `[button]`?
Zawsze masz kilka opcji do wyboru: `[value]`, `[title]`, `[aria-label]` oraz `[aria-labelledby]`.

##Bibliografia
* [RGAA. Kryterium 11-9](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-11-9)
* [KS 4.1.2 Nazwa, rola, wartość](https://wcag.lepszyweb.pl/#name-role-value)
* [H91: Korzystanie z formantów formularzy HTML i łączy](https://www.w3.org/WAI/WCAG21/Techniques/html/H91)

##Selektor
```css_example
input[type="reset"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
input[type="submit"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
input[type="button"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby])
```

##Test
```html_example
<input type="submit" /><span>†</span>
```
*/
input[type="reset"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
input[type="submit"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
input[type="button"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]) {
  @include error('no-value', $self-closing: true);
}


/*doc
---
title: "Brak źródła img"
name: a09-no-src
category: Błędy
---

##Opis
Element `<img>` musi mieć `[src]` lub `[srcset]`. I powinno być poprawne. Oczywiście.

##Bibliografia
* <https://www.w3.org/TR/html5/embedded-content-0.html#attr-img-src>
* [Picturefill. A responsive image polyfill](https://scottjehl.github.io/picturefill/)

##Selektor
```css_example
img:not([src]):not([srcset]),
img[src=""],
img[src=" "],
img[src="#"],
img[src="/"],
img[srcset=""],
img[srcset=" "],
img[srcset="#"],
img[srcset="/"],
input[type="image"]:not([src]):not([srcset]),
input[type="image"][src=""],
input[type="image"][src=" "],
input[type="image"][src="#"],
input[type="image"][src="/"],
input[type="image"][srcset=""],
input[type="image"][srcset=" "],
input[type="image"][srcset="#"]
input[type="image"][srcset="/"]
```

##Test
```html_example
<img alt="Brakuje src" width="144" height="144"/>
```
*/
img:not([src]):not([srcset]),
input[type="image"]:not([src]):not([srcset]) {
  @include error('no-src');
}


img[src=""],
img[src=" "],
img[src="#"],
img[src="/"],
input[type="image"][src=""],
input[type="image"][src=" "],
input[type="image"][src="#"],
input[type="image"][src="/"] {
  @include error('bad-src');
}

img[srcset=""],
img[srcset=" "],
img[srcset="#"],
img[srcset="/"],
input[type="image"][srcset=""],
input[type="image"][srcset=" "],
input[type="image"][srcset="#"],
input[type="image"][srcset="/"] {
  @include error('bad-srcset');
}

/*doc
---
title: "Charset powinien być w head pierwszy"
name: a10-late-charset
category: Błędy
---

##Opis
Jak wyjaśniono na Mozilla Developer Network:

> Element `<meta>` deklarujący kodowanie musi znajdować się wewnątrz elementu `<head>`
> i **w obrębie pierwszych 1024 bajtów** HTML, ponieważ niektóre przeglądarki
> patrzą tylko na te bajty przed wyborem kodowania.

Ma to również na celu zapobieżenie staremu exploitowi bezpieczeństwa wykorzystującemu UTF-7. Zadeklarowanie zestawu znaków przed znacznikiem `<title>` jest najprostszym sposobem, aby to ukryć.

##Bibliografia
* [Linting HTML using CSS, Incorrect Character Set](https://bitsofco.de/linting-html-using-css/#incorrectcharacterset)
* [MDN Web Docs &lt;meta&gt;: The metadata element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta)
* [HTML Living Standard, Specifying the document's character encoding](https://w3c.github.io/html/document-metadata.html#charset)
* [Michael Thelin, Web Security: Cross-site scripting attacks using UTF-7](https://michaelthelin.se/security/2014/06/08/web-security-cross-site-scripting-attacks-using-utf-7.html)

##Selektor
```css_example
head :first-child:not([charset])
```

##Test
```html_example
<iframe src="static/no-charset.html" title="Opóźnione ustawienie strony kodowej a11y.css test-case" sandbox="allow-same-origin"></iframe>
```
*/
head :first-child:not([charset]) {
  @include error('late-charset', $self-closing: false, $head: true);
  @include a11y-head($self-closing: true);
}


/*doc
---
title: "Etykieta z pustym atrybutem [for]"
name: a11-empty-for
category: Błędy
---

##Opis
Znacznik `<label>` z atrybutem `[for]` powinien oczywiście etykietować coś z atrybutem `[id]`. W atrybucie `[for]` musi być wartość `[id]` etykietowanego elementu. Oczywiście.

##Bibliografia
* [RGAA. Test 11-1-2](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-11-2)
* [H44: Używanie elementu label do kojarzenia etykiet tekstowych z formantami formularzy](https://www.w3.org/WAI/WCAG21/Techniques/html/H44)
* [Web Accessibility Tutorials, Labeling Controls](https://www.w3.org/WAI/tutorials/forms/labels/)
* [Testing form functionality with different assistive technology](https://make.wordpress.org/accessibility/2017/01/16/testing-form-functionality-with-different-assistive-technology/)
* [KS 3.3.2 Etkiety i instrukcje](https://wcag.lepszyweb.pl/#labels-or-instructions)
* [KS 2.4.6 Nagłówki i etykiety](https://wcag.lepszyweb.pl/#headings-and-labels)
* [KS 1.3.1 Informacje i relacje](https://wcag.lepszyweb.pl/#info-and-relationships)

##Selektor
```css_example
label[for=""],
label[for=" "]
```

##Test
```html_example
<label for=" ">Zgadnij co?</label>
```
*/
label[for=""],
label[for=" "] {
  @include error('empty-for');
}

/*doc
---
title: "Formularz bez [action]"
name: a12-no-action
category: Błędy
---

##Opis
Przyznasz, że `<form>` powinien coś robić. Czyż nie?  Właśnie, a `[action]` ma za zadanie określić co.

##Bibliografia
* [Heydon Pickering, Revenge.css - L214](https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L214)

##Selektor
```css_example
form:not([action]),
form[action=" "],
form[action=""]
```

##Test
```html_example
<form>
  <label for="input">Zgadnij, co zrobimy z Twoimi danymi?</label>
  <input id="input" type="text" />

  <input type="submit" value="Nie mam pojęcia, co?"/>
</form>
```
*/
form:not([action]),
form[action=" "],
form[action=""] {
  @include error('no-action');
}

/*doc
---
title: "Grupa pól formularza"
name: a13-inputs-group
category: Błędy
---

##Opis
Pola typu `radio` lub `checkbox` są zwykle zgrupowane. Atrybut `[name]` służy do ich programowego powiązania, dlatego jest potrzebny.

##Bibliografia
* [Web Accessibility Tutorials, Grouping Controls](https://www.w3.org/WAI/tutorials/forms/grouping/)
* [HTML
Living Standard, Forms](https://html.spec.whatwg.org/multipage/forms.html)
* [H71: Zapewnienie opisu dla grup kontrolek formularzy przy użyciu elementów fieldset i legend](https://www.w3.org/WAI/WCAG21/Techniques/html/H71)

##Selektor
```css_example
[type="radio"]:not([name]),
[type="checkbox"]:not(:only-of-type):not([name])
```

##Test
```html_example
<form action="/">
  <fieldset>
    <legend>Opcje</legend>
    <p>
      <label for="option-1">Opcja N<sup>o</sup>1</label>
      <input type="radio" id="option-1"><span>†</span>
    </p>
    <p>
      <label for="option-2">Opcja N<sup>o</sup>2</label>
      <input type="radio" id="option-2" name="options">
    </p>
  </fieldset>
</form>
```
*/
[type="radio"]:not([name]),
[type="checkbox"]:not(:only-of-type):not([name]) {
  @include error('inputs-group', $self-closing: true);
}


/*doc
---
title: "iframe bez [title]"
name: a14-no-title
category: Błędy
---

##Opis
`<iframe>` potrzebuje `[title]`, aby powiedzieć użytkownikowi, czego może się spodziewać w ramce.

##Bibliografia
* [RGAA. Kryterium 2-1](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-2-1)
* [KS 4.1.2 Nazwa, rola, wartość](https://wcag.lepszyweb.pl/#name-role-value)
* [H64: Używanie atrybutu title do tytułowania elementów frame i iframe](https://www.w3.org/WAI/WCAG21/Techniques/html/H64)

##Selektor
```css_example
iframe:not([title]),
iframe[title=" "],
iframe[title=""]
```

##Test
```html_example
<iframe src="static/no-title.html" sandbox="allow-same-origin"></iframe><span>†</span>
```
*/
iframe:not([title]),
iframe[title=" "],
iframe[title=""] {
  @include error('no-title', $self-closing: true);
}


/*doc
---
title: "input bez [type]"
name: a15-no-type
category: Błędy
---

##Opis
`<input>` potrzebuje `[type]`, aby powiedzieć użytkownikowi, jaki rodzaj danych jest pożądany.

##Bibliografia
* [RGAA. Kryterium 11-11](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-11-11)
* [KS 3.3.3 Sugestie korekty błędów](https://wcag.lepszyweb.pl/#error-suggestion)

##Selektor
```css_example
input:not([type]),
input[type=" "],
input[type=""]
```

##Test
```html_example
<label for="No-type">Brak type</label>
<input value="Cokolwiek chcesz" id="No-type"/><span>†</span>
```
*/
input:not([type]),
input[type=" "],
input[type=""] {
  @include error('no-type', $self-closing: true);
}

/*doc
---
title: "Język określony nieprawidłowo"
name: a16-no-lang
category: Błędy
---

##Opis
`<html>` musi wskazywać programom użytkownika naturalny język dokumentu.

##Bibliografia
* [RGAA. Kryterium 8-3](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-8-3)
* [RGAA, Słownik - Język domyślny strony](https://rgaa.lepszyweb.pl/pl/glossaire.html#)
* [RGAA. Kryterium 8-4](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-8-4)
* [KS 3.1.1 Język strony](https://wcag.lepszyweb.pl/#language-of-page)
* [KS 3.1.2 Język części strony](https://wcag.lepszyweb.pl/#language-of-parts)
* [H57: Używanie atrybutu lang dla elementu html](https://www.w3.org/WAI/WCAG21/Techniques/html/H57)
* [HTML Living Standard, The lang attribute](https://html.spec.whatwg.org/multipage/dom.html#attr-lang)
* [Tags for Identifying Languages, 2.1.1.  Formatting of Language Tags](https://tools.ietf.org/html/bcp47#section-2.1.1)
* [MDN, Language tag syntax](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/lang)
* [The lang attribute: browsers telling lies, telling sweet little lies](https://www.matuzo.at/blog/lang-attribute/)
* [Manuel Matuzovic, Debugging the lang attribute](https://codepen.io/matuzo/project/editor/ZyrVee>

##Selektor
```css_example
html:not([lang]),
html[lang*=" "],
html[lang=""]
```

##Test
```html_example
<iframe title="Nie określono języka a11y.css test-case" src="static/no-lang.html" sandbox="allow-same-origin"></iframe>
```
*/
html:not([lang]),
html[lang*=" "],
html[lang=""] {
  @include error('no-lang');
}


/*doc
---
title: "Niedostępny atrybut viewport"
name: a17-unaccessible-viewport
category: Błędy
---

##Opis
Użytkownik powinien mieć możliwość powiększania lub pomniejszania strony, aby poprawić czytelność i wygodę; jest to zwykle dozwolone w `<meta>` viewport.

##Bibliografia
* [Linting HTML using CSS](https://bitsofco.de/linting-html-using-css/)
* [Zooming and scaling must not be disabled](https://dequeuniversity.com/rules/axe/4.1/meta-viewport)
* [KS 1.4.4 Zmiana rozmiaru tekstu](https://wcag.lepszyweb.pl/#resize-text)
* [Understanding Success Criterion 1.4.4: Resize text](https://www.w3.org/WAI/WCAG21/Understanding/resize-text.html)
* [Ne pas brider le zoom avec la propriété user-scalable](https://www.accede-web.com/notices/html-et-css/recommandations-complementaires/ne-pas-brider-le-zoom-avec-la-propriete-user-scalable/)
* [A. Roselli, Don’t Disable Zoom](https://adrianroselli.com/2015/10/dont-disable-zoom.html)

##Selektor
```css_example
meta[name="viewport"][content*="maximum-scale"],
meta[name="viewport"][content*="minimum-scale"],
meta[name="viewport"][content*="user-scalable=no"]
```

##Test
```html_example
<iframe src="static/viewport.html" sandbox="allow-same-origin" title="Przykład błędnej instrukcji viewport"></iframe><span>†</span>
```
*/
meta[name="viewport"][content*="maximum-scale"],
meta[name="viewport"][content*="minimum-scale"],
meta[name="viewport"][content*="user-scalable=no"] {
  @include error('unaccessible-viewport', $self-closing: true, $head: true);
  @include a11y-head($self-closing: true);
}

/*doc
---
title: "Niepoprawny atrybut [dir]"
name: a18-invalid-dir
category: Błędy
---

##Opis
Atrybut  `[dir]` służący do określenia kierunku tekstu elementu - przyjmuje tylko trzy wartości: `rtl`, `ltr` oraz `auto`.

##Bibliografia
* [K.Groves. Diagnostic.css L113](https://github.com/karlgroves/diagnostic.css/blob/39ede15ff46bd59af9f8f30efb04cbb45b6c1ba5/diagnostic.css#L113)
* [Structural markup and right-to-left text in HTML](https://www.w3.org/International/questions/qa-html-dir)
* [Inline markup and bidirectional text in HTML, The dir attribute](https://www.w3.org/International/articles/inline-bidi-markup/#dirattribute)
* [HTML Living Standard, The dir attribute](https://html.spec.whatwg.org/multipage/dom.html#the-dir-attribute)

##Selektor
```css_example
[dir]:not([dir="rtl"]):not([dir="ltr"]):not([dir="auto"])
```

##Test
```html_example
<p dir="wtf">Cóż, jestem trochę zdezorientowany…</p>
```
*/
[dir]:not([dir="rtl"]):not([dir="ltr"]):not([dir="auto"]) {
  @include error('invalid-dir');
}



/*doc
---
title: "Niewłaściwy charset"
name: a19-incorrect-charset
category: Błędy
---

##Opis
Używanie kodowania znaków `utf-8` est zalecane przez samo W3C:
> obsługuje wiele języków i może obsługiwać strony i formularze w dowolnej mieszance tych języków.

Ponadto pozwala uniknąć pewnych problemów związanych z bezpieczeństwem, wykorzystywanych przez inne zestawy znaków…

##Bibliografia
* [Linting HTML przy użyciu CSS, Incorrect Character Set](https://bitsofco.de/linting-html-using-css/#incorrectcharacterset)
* HTML Living Standard, atrybut medata-charset](https://www.w3.org/TR/html5/document-metadata.html#attr-meta-charset)
* [MDN Web Docs &lt;meta&gt;: The metadata element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta)
* [Help and FAQ for the Markup Validato](https://validator.w3.org/docs/help.html#faq-charset)
* [WCAG, Zasada 3 - Zrozumiałość](https://wcag.lepszyweb.pl/#principle3)
* [W3C Internationalization Checker](https://validator.w3.org/i18n-checker/)
* [Handling character encodings in HTML and CSS (tutorial)](https://www.w3.org/International/tutorials/tutorial-char-enc/)

##Selektor
```css_example
meta[charset]:not([charset="utf-8"]):not([charset="UTF-8"])
```

##Test
```html_example
<meta charset="Windows-1252"/><span>†</span>
```
*/
meta[charset]:not([charset="utf-8"]):not([charset="UTF-8"]) {
  @include error('incorrect-charset', $self-closing: true, $head: true);
  @include a11y-head($self-closing: true);
}



/*doc
---
title: "optgroup bez label"
name: a20-optgroup
category: Błędy
---

##Opis
`<optgroup>` potrzebuje `[label]`, aby wyjaśnić, co jest wewnątrz grupy.

##Bibliografia
* [RGAA. Kryterium 11-8](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-11-8)
* [H85: Użycie optgroup do grupowania elementów option wewnątrz select](https://www.w3.org/WAI/WCAG21/Techniques/html/H85)

##Selektor
```css_example
optgroup:not([label])
```

##Test
```html_example
<form action="/">
    <label for="optgroup-test">Oh, hej</label>
    <select id="optgroup-test">
      <optgroup label="Jestem grupą">
        <option value="1">Jestem opcją</option>
        <option value="2">Jestem inną opcją</option>
      </optgroup>
      <optgroup>
        <option value="3">Jestem opcją, ale z następnej grupy</option>
        <option value="4">Ja też jestem inną opcją, ale z następnej grupy</option>
     </optgroup>
   </select>
</form>
```
*/
optgroup:not([label]) {
  @include error('optgroup', $self-closing: true);
}


/*doc
---
title: "Przestrzeń nazw"
name: a21-namespace
category: Błędy
---

##Opis
Czy wiesz, że niektórych znaków należy unikać jako pierwszych znaków w nazwach klas i identyfikatorach CSS? Tak. Cyfry, dwóch myślników lub myślnika, po którym następuje cyfra.

##Bibliografia
* [Selectors Level 3. Selektor syntax](https://www.w3.org/TR/selectors-3/#selector-syntax)
* [Przestrzeń nazw, przykład](https://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/html/tests/css3-modsel-175a.html)

##Selektor
```css_example
[id^="1"],
[id^="2"],
[id^="3"],
[id^="4"],
[id^="5"],
[id^="6"],
[id^="7"],
[id^="8"],
[id^="9"],
[id^="0"],
[id^="--"],
[id^="-1"],
[id^="-2"],
[id^="-3"],
[id^="-4"],
[id^="-5"],
[id^="-6"],
[id^="-7"],
[id^="-8"],
[id^="-9"],
[id^="-0"],
[class^="1"],
[class^="2"],
[class^="3"],
[class^="4"],
[class^="5"],
[class^="6"],
[class^="7"],
[class^="8"],
[class^="9"],
[class^="0"],
[class^="--"],
[class^="-1"],
[class^="-2"],
[class^="-3"],
[class^="-4"],
[class^="-5"],
[class^="-6"],
[class^="-7"],
[class^="-8"],
[class^="-9"],
[class^="-0"]
```

##Test
```html_example
<div id="2">Witam! Moje ID to 2.</div>
```
*/
[id^="1"],
[id^="2"],
[id^="3"],
[id^="4"],
[id^="5"],
[id^="6"],
[id^="7"],
[id^="8"],
[id^="9"],
[id^="0"],
[id^="--"],
[id^="-1"],
[id^="-2"],
[id^="-3"],
[id^="-4"],
[id^="-5"],
[id^="-6"],
[id^="-7"],
[id^="-8"],
[id^="-9"],
[id^="-0"] {
  @include error('id-namespace');
}

[class^="1"],
[class^="2"],
[class^="3"],
[class^="4"],
[class^="5"],
[class^="6"],
[class^="7"],
[class^="8"],
[class^="9"],
[class^="0"],
[class^="--"],
[class^="-1"],
[class^="-2"],
[class^="-3"],
[class^="-4"],
[class^="-5"],
[class^="-6"],
[class^="-7"],
[class^="-8"],
[class^="-9"],
[class^="-0"] {
  @include error('class-namespace');
}




/*doc
---
title: "Przycisk, który nie wysyła"
name: a22-not-submit-button
category: Błędy
---

##Opis
Jeśli  `<button>` ma wartość `[type]` albo `"reset"` albo `"button"`, nie powinien używać następujacych atrybutów:

* `[formmethod]`;
* `[formaction]`;
* `[formtarget]`;
* `[formenctype]`;
* `[formnovalidate]`.

##Bibliografia
* [HTML Living Standard, The button element](https://html.spec.whatwg.org/multipage/form-elements.html#the-button-element)

##Selektor
```css_example
button[type="reset"][formmethod],
button[type="reset"][formaction],
button[type="reset"][formtarget],
button[type="reset"][formenctype],
button[type="reset"][formnovalidate],
button[type="button"][formmethod],
button[type="button"][formaction],
button[type="button"][formtarget],
button[type="button"][formenctype],
button[type="button"][formnovalidate]
```

##Test
```html_example
<button type="button" formmethod="GET">Mam metodę! A nie powinienem!</button>
```
*/
button[type="reset"],
button[type="button"] {
  &[formmethod],
  &[formaction],
  &[formtarget],
  &[formenctype],
  &[formnovalidate] {
    @include error('not-submit-button');
  }
}


/*doc
---
title: "Przycisk formularza"
name: a23-not-form-button
category: Błędy
---

##Opis
Kontrolka `<button>` ma domyślnie wartość `[type]` równą `&quot;submit&quot;`, aby wysłać `<form>`.

Jednak jeśli przycisk znajduje się poza `<form>`, jeśli ma on za zadanie wysłać formularz, powinien o tym wspomnieć za pomocą jednego z tych atrybutów: `[form]`, `[formaction]`, `[formtarget]`.

Jeśli nie wysyła niczego, powinien mieć atrybut `[type="button"]`.

##Bibliografia
* [HTML Living Standard, The button element](https://html.spec.whatwg.org/multipage/form-elements.html#the-button-element)
* [Heydon Pickering, Revenge.css -L189](https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L189)

##Selektor
```css_example
button:not([type]):not([form]):not([formaction]):not([formtarget])
```

##Test
```html_example
<button>Po prostu nie wiem, co ze sobą zrobić.</button>
```
*/
button:not([type]):not([form]):not([formaction]):not([formtarget]) {
  @include error('not-form-button');
}

form button:not([type]):not([form]):not([formaction]):not([formtarget]) {
  @extend %a11y-reset;
}


/*doc
---
title: "Puste łącze"
name: a24-empty-link
category: Błędy
---

##Opis
Puste łącze powinno mieć etykietę wewnątrz `[title]`, `[aria-label]` lub wskazaną przez `[aria-labelledby]`.
          Przy okazji, po co miałbyś używać pustego łącza?

##Bibliografia
* [RGAA. Kryterium 6-5](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-6-5)
* [KS 1.1.1 Treść nietekstowa](https://wcag.lepszyweb.pl/#non-text-content)
* [KS 2.4.4 Cel łącza (w kontekście)](https://wcag.lepszyweb.pl/#link-purpose-in-context)
* [KS 2.4.9 Cel łącza (z samego łącza)](https://wcag.lepszyweb.pl/#link-purpose-link-only)
* [H30: Zapewnienie tekstu łącza opisującego cel łącza dla elementów kotwiących](https://www.w3.org/WAI/WCAG21/Techniques/html/H30)
* [G91: Zapewnienie tekstu łącza opisującego cel łącza](https://www.w3.org/WAI/WCAG21/Techniques/global/G91)
* [Heydon Pickering, Revenge.css - L193](https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L193)

##Selektor
```css_example
a:empty[title=""],
a:empty[aria-label=""],
a:empty[aria-labelledby=""],
a:empty:not([title]):not([aria-label]):not([aria-labelledby])
```

##Test
```html_example
<a href="/" class="inbl w-20" id="empty-link_code"></a>
```
*/
a:empty[title=""],
a:empty[aria-label=""],
a:empty[aria-labelledby=""],
a:empty:not([title]):not([aria-label]):not([aria-labelledby]) {
  @include error('empty-link');
}


/*doc
---
title: "Pusty [href]"
name: a25-empty-href
category: Błędy
---

##Opis
Atrybut `[href]`, jeśli występuje, nie powinien być pusty. Łączy *do* czegoś, prawda?

##Bibliografia
* [HTML Living standards, Links created by a and area elements](https://html.spec.whatwg.org/multipage/links.html#links-created-by-a-and-area-elements)
* [Heydon Pickering, Revenge.css - L161](https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L161)
* [Heydon Pickering, Revenge.css - L165](https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L165)

##Selektor
```css_example
a[href=""],
a[href=" "]
```

##Test
```html_example
<a href=" ">Czym jestem? Do czego łączę?</a>
```
*/
a[href=""],
a[href=" "] {
  @include error('empty-href');
}

/*doc
---
title: "Pusty atrybut przycisku"
name: a26-empty-button-attr
category: Błędy
---

##Opis
Atrybut `[aria-label]`, `[aria-labelledby]` lub `[title]` w znaczniku `<button>` nie może być pusty.

##Bibliografia
* [RGAA, 11. Formularze](https://rgaa.lepszyweb.pl/pl/criteres.html#formularze)
* [RGAA. Kryterium 11-9](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-11-9)
* [KS 4.1.2 Nazwa, rola, wartość](https://wcag.lepszyweb.pl/#name-role-value)
* [H91: Korzystanie z kontrolek formularzy HTML i łączy](https://www.w3.org/WAI/WCAG21/Techniques/html/H91)
* [Heydon Pickering, Revenge.css - L193](https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L193)

##Selektor
```css_example
button[title=""],
button[aria-label=""],
button[aria-labelledby=""]
```

##Test
```html_example
<button title="" type="button">Test</button>
```
*/
button[title=""] {
  @include error('empty-button-title');
}

button[aria-label=""] {
  @include error('empty-button-aria-label');
}

button[aria-labelledby=""] {
  @include error('empty-button-aria-labelledby');
}


/*doc
---
title: "Pusty przycisk"
name: a27-empty-button
category: Błędy
---

##Opis
Przycisk `<button>` powinien mieć albo zawartość albo atrybut `[aria-label]`, `[aria-labelledby]` lub `[title]`. Atrybuty te, jeśli istnieją, nie mogą być puste.


##Bibliografia
* [RGAA, 11. Formularze](https://rgaa.lepszyweb.pl/pl/criteres.html#formularze)
* [RGAA. Kryterium 11-9](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-11-9)
* [KS 4.1.2 Nazwa, rola, wartość](https://wcag.lepszyweb.pl/#name-role-value)
* [H91: Korzystanie z formantów formularzy HTML i łączy](https://www.w3.org/WAI/WCAG21/Techniques/html/H91)
* [Heydon Pickering, Revenge.css - L193](https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L193)

##Selektor
```css_example
button:empty:not([aria-label]):not([aria-labelledby]):not([title])
```

##Test
```html_example
<button type="button"></button>
```
*/
button:empty:not([aria-label]):not([aria-labelledby]):not([title]) {
  @include error('empty-button');
}

/*doc
---
title: "Pusty znacznik title"
name: a28-no-page-title
category: Błędy
---

##Opis
Znacznik `<title>` jest pierwszą rzeczą czytaną na głos przez czytniki ekranu - aby ogłosić&hellip; tytuł strony - a także pierwszą rzeczą wyświetlaną na stronach wyników wyszukiwarek.

Moglibyśmy użyć pseudoklasy `:blank`, ale w tym momencie jej obsługa jest bardzo słaba. Moglibyśmy również użyć pseudoklasy `:-moz-only-whitespace`, ale jej obsługa jest ograniczona do Firefoksa, co mogłoby spowodować niepoprawność naszego stosu selektorów…


##Bibliografia
* [RGAA. Kryterium 8-5](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-8-5)
* [RGAA Słownik, Tytuł strony](https://rgaa.lepszyweb.pl/pl/glossaire.html#tytulStrony)
* [HTML Living Standard. 4.2.2 The title element](https://html.spec.whatwg.org/multipage/semantics.html#the-title-element)
* [KS 2.4.2 Tytuł strony](https://wcag.lepszyweb.pl/#page-titled)
* [G88: Zapewnienie opisowych tytułów stron internetowych](https://www.w3.org/WAI/WCAG21/Techniques/global/G88)
* [G127: Określenie relacji strony internetowej z większym zbiorem stron internetowych](https://www.w3.org/WAI/WCAG21/Techniques/global/G127)
* [H25: Zapewnienie tytułu za pomocą elementu title](https://www.w3.org/WAI/WCAG21/Techniques/html/H25)
* [The Empty-Value Pseudo-class: :blank](https://drafts.csswg.org/selectors-4/#blank)
* [MDN Web Docs. :-moz-only-whitespace](https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-only-whitespace)
* [CSS-Tricks :blank](https://css-tricks.com/almanac/selectors/b/blank/)

##Selektor
```css_example
title:empty
```

##Test
```html_example
<title></title>
```
*/
title:empty {
  @include error('no-page-title');
  @include a11y-head();
}

/*doc
---
title: "[radio] poza fieldset"
name: a29-radio-group
category: Błędy
---

##Opis
Pola typu `radio` powinny być zgrupowane przez nadrzędny `<fieldset>`, opisany przez jego `<legend>`.
          
Zauważ, że WCAG nie wymaga tego, ale zdecydowanie zaleca:
&bdquo;w przypadku, gdy indywidualna etykieta związana z każdą konkretną kontrolą zapewnia wystarczający opis, użycie elementów fieldset i legend nie jest wymagane&rdquo;
          
Ten test może być ostrzeżeniem…


##Bibliografia
* [Web Accessibility Tutorials. Grouping Controls](https://www.w3.org/WAI/tutorials/forms/grouping/#radio-buttons)
* [HTML Living Standard, Forms](https://html.spec.whatwg.org/multipage/forms.html#radio-button-state-typeradio)
* [HTML Living Standard, Forms&hellip;](https://html.spec.whatwg.org/multipage/forms.html#element-attrdef-formelements-name)
* [H71: Zapewnienie opisu dla grup kontrolek formularzy przy użyciu elementów fieldset i legend](https://www.w3.org/WAI/WCAG21/Techniques/html/H71)
* [H44: Używanie elementu label do kojarzenia etykiet tekstowych z formantami formularzy](https://www.w3.org/WAI/WCAG21/Techniques/html/H44)

##Selektor
```css_example
[type="radio"]
```

##Test
```html_example
<form action="/">
  <p>
    <label for="option-1">Opcja N<sup>o</sup>1</label>
    <input type="radio" id="option-1" name="options"><span>†</span>
  </p>

  <br>

  <fieldset>
    <legend>Próba w ramach zestawu pól nie powinna być dopasowana</legend>
    <p>
      <label for="option-2">Opcja N<sup>o</sup>2</label>
      <input type="radio" id="option-2" name="options"><span>†</span>
    </p>
  </fieldset>
</form>
```
*/
[type="radio"] {
  @include error('radio-group', $self-closing: true);
}

fieldset [type="radio"] {
  @extend %a11y-reset;
}

/*doc
---
title: "[role=checkbox] nie ma stanu"
name: a30-role-checkbox
category: Błędy
---

##Opis
Element z `[role="checkbox"]` wymaga atrybutu stanu `[aria-checked]`

##Bibliografia
* [WAI-ARIA 1.2 checkbox (role)](https://www.w3.org/TR/wai-aria-1.2/#checkbox)
* [WAI-ARIA 1.2 aria-checked (state)](https://www.w3.org/TR/wai-aria-1.2/#aria-checked)


##Selektor
```css_example
[role="checkbox"]:not([aria-checked])
```

##Test
```html_example
<img src="static/ffoodd.png" alt="Pole wyboru" role="checkbox" width="36" height="36"/><span>†</span>
```
*/
[role="checkbox"]:not([aria-checked]) {
  @include error('role-checkbox');

  @include void-tags {
    @include error('role-checkbox', $self-closing: true);
  }
}


/*doc
---
title: "[role=combobox] nie ma [state]"
name: a31-role-combobox
category: Błędy
---

##Opis
Element z `[role="combobox"]` wymaga atrybutu stanu `[aria-expanded]`

##Bibliografia
* [WAI-ARIA 1.2 combobox (role)](https://www.w3.org/TR/wai-aria-1.2/#combobox)
* [WAI-ARIA 1.2 aria-expanded (state](https://www.w3.org/TR/wai-aria-1.2#aria-expanded)


##Selektor
```css_example
[role="combobox"]:not([aria-expanded])
```

##Test
```html_example
<input type="text" aria-label="Pole kombinowane" role="combobox" id="combobox"><span>†</span>
```
*/
[role="combobox"]:not([aria-expanded]) {
  @include error('role-combobox');

  @include void-tags {
    @include error('role-combobox', $self-closing: true);
  }
}



/*doc
---
title: "[role=scrollbar] wymaga właściwości"
name: a32-role-scrollbar
category: Błędy
---

##Opis
Niektóre właściwości muszą być zgodne z wzorcem projektowym `[role="scrollbar"]`:

* `[aria-controls]`
* `[aria-valuemin]`
* `[aria-valuemax]`
* `[aria-valuenow]`
* `[aria-orientation]`

##Bibliografia
* [WAI-ARIA 1.2 combobox (role](https://www.w3.org/TR/wai-aria-1.2/#scrollbar)
* [WAI-ARIA 1.2 scrollbar (role](https://www.w3.org/TR/wai-aria-1.2/#combobox)
* [WAI-ARIA 1.2. aria-valuenow (property)](https://www.w3.org/TR/wai-aria-1.2/#aria-valuenow)
* [WAI-ARIA 1.2. aria-valuemin (property)](https://www.w3.org/TR/wai-aria-1.2#aria-valuemin)
* [WAI-ARIA 1.2. aria-valuemax (property)](https://www.w3.org/TR/wai-aria-1.2#aria-valuemax)
* [WAI-ARIA 1.2. aria-orientation (property)](https://www.w3.org/TR/wai-aria-1.2#aria-orientation)

##Selektor
```css_example
[role="scrollbar"]:not([aria-controls]),
[role="scrollbar"]:not([aria-valuemin]),
[role="scrollbar"]:not([aria-valuemax]),
[role="scrollbar"]:not([aria-valuenow]),
[role="scrollbar"]:not([aria-orientation])
```

##Test
```html_example
<div role="scrollbar">↓</div>
```
*/
[role="scrollbar"]:not([aria-controls]),
[role="scrollbar"]:not([aria-valuemin]),
[role="scrollbar"]:not([aria-valuemax]),
[role="scrollbar"]:not([aria-valuenow]),
[role="scrollbar"]:not([aria-orientation]) {
  @include error('role-scrollbar');
}



/*doc
---
title: "[role=slider] - brak atrybutów"
name: a33-role-slider
category: Błędy
---

##Opis
Element z `[role="slider"]` wymaga kilku atrybutów:

* `[aria-valuemin]`
* `[aria-valuemax]`
* `[aria-valuenow]`

Również `[aria-valuetext]` jest mile widziany, mimo że nie jest wymagany przez specyfikację ARIA.

##Bibliografia
* [Debug.css, L378](https://github.com/imbrianj/debugCSS/blob/master/debugCSS.css#L378)
* [WAI-ARIA 1.2. slider (role)](https://www.w3.org/TR/wai-aria-1.2/#slider)
* [WAI-ARIA 1.2. aria-valuenow (property)](https://www.w3.org/TR/wai-aria-1.2/#aria-valuenow)
* [WAI-ARIA 1.2. aria-valuemin (property)](https://www.w3.org/TR/wai-aria-1.2#aria-valuemin)
* [WAI-ARIA 1.2. aria-valuemax (property)](https://www.w3.org/TR/wai-aria-1.2#aria-valuemax)

* [TPG, Hans Hillen: ARIA Slider, Part 1](https://www.tpgi.com/aria-slider-part-1/)
* [TPG, Hans Hillen: ARIA Slider, Part 1](https://www.tpgi.com/aria-slider-part-2/)
* [TPG, Hans Hillen: ARIA Slider, Part 1](https://www.tpgi.com/aria-slider-part-3/)
* [MDN Web Docs. Using the slider role](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_slider_role)

##Selektor
```css_example
[role="slider"]:not([aria-valuemin]),
[role="slider"]:not([aria-valuemax]),
[role="slider"]:not([aria-valuenow])
```

##Test
```html_example
<label for="slider">Slider</label>
<input id="slider" role="slider" type="range" /><span>†</span>
```
*/
[role="slider"]:not([aria-valuemin]),
[role="slider"]:not([aria-valuemax]),
[role="slider"]:not([aria-valuenow]) {
  @include error('role-slider');

  @include void-tags {
    @include error('role-slider', $self-closing: true);
  }
}


/*doc
---
title: "[role=spinbutton] wymaga atrybutów"
name: a34-role-spinbutton
category: Błędy
---

##Opis
[role=spinbutton] wymaga atrybutów:

* `[aria-valuemin]`
* `[aria-valuemax]`
* `[aria-valuenow]`

##Bibliografia
* [WAI-ARIA 1.2. spinbutton (role)](https://www.w3.org/TR/wai-aria-1.2/#spinbutton)
* [WAI-ARIA 1.2. aria-valuenow (property)](https://www.w3.org/TR/wai-aria-1.2/#aria-valuenow)
* [WAI-ARIA 1.2. aria-valuemin (property)](https://www.w3.org/TR/wai-aria-1.2#aria-valuemin)
* [WAI-ARIA 1.2. aria-valuemax (property)](https://www.w3.org/TR/wai-aria-1.2#aria-valuemax)


##Selektor
```css_example
[role="spinbutton"]:not([aria-valuemin]),
[role="spinbutton"]:not([aria-valuemax]),
[role="spinbutton"]:not([aria-valuenow])
```

##Test
```html_example
<label for="spinbutton">Spinbutton</label>
<input id="spinbutton" role="spinbutton" type="range" /><span>†</span>
```
*/
[role="spinbutton"]:not([aria-valuemin]),
[role="spinbutton"]:not([aria-valuemax]),
[role="spinbutton"]:not([aria-valuenow]) {
  @include error('role-spinbutton');

  @include void-tags {
    @include error('role-spinbutton', $self-closing: true);
  }
}


/*doc
---
title: "Tabela układu"
name: a35-table-for-layout
category: Błędy
---

##Opis
Element `<table>` może być użyty do układu, jeśli dodana jest `[role="presentation"]`.

Nie wolno natomiast używać znaczników semantyki oraz atrybutów mających na celu uporządkowanie danych. Oto ich lista:

* `<th>`;
* `<thead>`;
* `<tfoot>`;
* `<caption>`;
* `[axis]`;
* `[scope]`;
* `[headers]`;
* `[colgroup]`.

##Bibliografia
* [RGAA. Kryterium 5-8](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-5-8)
* [F46: Niespełnienie kryterium sukcesu 1.3.1 z powodu użycia elementów th, elementów caption lub niepustych atrybutów summary w tabelach formujących układ](https://www.w3.org/WAI/WCAG21/Techniques/failures/F46)
* [F49: Niespełnienie kryterium sukcesu 1.3.2 z powodu użycia do formowania układu tabeli HTML, która nie ma sensu po linearyzacji](https://www.w3.org/WAI/WCAG21/Techniques/failures/F49)
* [KS 1.3.1 Informacje i relacje](https://wcag.lepszyweb.pl/#info-and-relationships)

##Selektor
```css_example
table[role="presentation"] th,
table[role="presentation"] thead,
table[role="presentation"] tfoot,
table[role="presentation"] caption,
table[role="presentation"] colgroup,
table[role="presentation"] [axis],
table[role="presentation"] [scope],
table[role="presentation"] [headers]
```

##Test
```html_example
<table role="presentation">
  <caption>Ja nic nie znaczę! Nie powinno mnie tu być!</caption>
  <tbody>
    <tr>
      <td colspan="2">To działa</td>
    </tr>
  </tbody>
</table>
```
*/
table[role="presentation"] th,
table[role="presentation"] thead,
table[role="presentation"] tfoot,
table[role="presentation"] caption,
table[role="presentation"] colgroup,
table[role="presentation"] [axis],
table[role="presentation"] [scope],
table[role="presentation"] [headers] {
  @include error('table-for-layout');
}



/*doc
---
title: "[tabindex] > 0"
name: a36-tab-order
category: Błędy
---

##Opis
Atrybut `[tabindex]` nigdy nie powinien być większy niż 0.

##Bibliografia
* [Heydon Pickering, Revenge.css - L337](https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L337)
* [RGAA. Kryterium 12-13](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-12-13)
* [F44: Niespełnienie kryterium sukcesu 2.4.3 z powodu użycia tabindex do utworzenia kolejności tabulacji, która nie zachowuje znaczenia i funkcjonalności](https://www.w3.org/WAI/WCAG21/Techniques/failures/F44)
* [Scott O'Hara, Tabindex: it rarely pays to be positive](https://www.scottohara.me/blog/2019/05/25/tabindex.html)

##Selektor
```css_example
[tabindex]:not([tabindex="0"]):not([tabindex^="-"])
```

##Test
```html_example
<button tabindex="1" type="button">Dodatni tabindex jest zły</button>
```
*/
[tabindex]:not([tabindex="0"]):not([tabindex^="-"]) {
  @include error('tab-order');

  @include void-tags {
    @include error('tab-order', $self-closing: true);
  }
}

/*doc
---
title: "Wyłączony przycisk"
name: a37-disabled-button
category: Błędy
---

##Opis
Przycisk `<button>` stylizowany na wyłączony powinien być wyłączony *w rzeczywistości*. Użyj `[disabled]` i `[readonly]`.

##Bibliografia
* [Heydon Pickering, Revenge.css - L122](https://github.com/Heydon/REVENGE.CSS/blob/master/revenge.css#L122)

##Selektor
```css_example
button[class*="disabled"]:not([disabled]):not([readonly])
```

##Test
```html_example
<button class="is-disabled" type="button">Być albo nie być (wyłączonym)?</button>
```
*/
button[class*="disabled"]:not([disabled]):not([readonly]) {
  @include error('disabled-button');
}

/*doc
---
title: "Zagnieżdżony element interaktywny"
name: a38-nested-interactive
category: Błędy
---

##Opis
Element interaktywny nie może być umieszczony w innym elemencie interaktywnym (np. `<a>` w `<button>`).


##Bibliografia
* [RGAA. Kryterium 8-2](https://rgaa.lepszyweb.pl/pl/criteres.html#crit-8-2)
* [WCAG 2.1 KS 4.1.1 Poprawność kodu]https://wcag.lepszyweb.pl/#parsing)
* [WCAG 2.1 KS 4.1.2 Nazwa, rola, wartość](https://wcag.lepszyweb.pl/#name-role-value)
* [B. Element Prohibitions](https://www.w3.org/TR/xhtml1/#prohibitions)
* [HTML Living Standard. 3.2.5.2.7 Interactive content](https://w3c.github.io/html/dom.html#interactive-content-2)
* [HTML Living Standard. 4.10.3 The form element](https://w3c.github.io/html/sec-forms.html#the-form-element)
* [HTML Living Standard. 4.10.13 The progress element](https://w3c.github.io/html/sec-forms.html#the-progress-element)
* [HTML Living Standard. 4.10.14 The meter element](https://w3c.github.io/html/sec-forms.html#the-meter-element)
* [HTML Living Standard. 4.10.6 The button element](https://w3c.github.io/html/sec-forms.html#the-button-element)
* [HTML Living Standard. 4.5.1 The a element](https://w3c.github.io/html/textlevel-semantics.html#the-a-element)
* [HTML Living Standard. 4.10.4 The label element]https://w3c.github.io/html/sec-forms.html#the-label-element)

(##Selektor
```css_example
a a[href],
button a[href],
a audio[controls],
button audio[controls],
a video[controls],
button video[controls],
a button,
button button,
a details,
button details,
a embed,
button embed,
a iframe,
button iframe,
a img[usemap],
button img[usemap],
a label,
button label,
a select,
button select,
a textarea,
button textarea,
a input[type]:not([hidden]),
button input[type]:not([hidden]),
form form,
label label,
meter meter,
progress progress
```

##Test
```html_example
<a href="https://lepszyweb.pl">
  <button type=button">Chwila, co mam uruchomić?</button>
</a>
```
*/
$tags: ();

@each $tag in $interactive {
  $tags: append($tags, unquote('a #{$tag}, button #{$tag}'), 'comma');
}

#{$tags},
form form,
label label,
meter meter,
progress progress {
  @include error('nested-interactive');
}