@charset 'UTF-8';

/*doc
---
title: ""
name: check-alt-0
category: WebExtension
---

Rozszerzenie  dostarcza kilku dodatkowych narzędzi wymagających odrobiny JavaScriptu:

* Wymuszenie fokusu;
* Pokazywanie atrybutu `lang`;
* sprawdzanie `alt` i `title` w `<img>`;
* Zwiększanie odstępów w tekście.

##Opis
Ta strona dostarcza fałszywych treści z:

* atrybutami języka,
* obrazkami: niektóre mają poprawny atrybut `alt`, inne nie, niektóre mają pusty `alt`.

Dzięki temu możemy przetestować dwa moduły webextension.

##Bibliografia dla `alt` i `title` w `<img>`
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-1-1>
* <https://references.modernisation.gouv.fr/rgaa/criteres.html#crit-1-2>
* <https://www.accede-web.com/notices/html-css-javascript/6-images-icones/6-3-balise-img/>
* <https://www.w3.org/WAI/tutorials/images/decision-tree/>
* <https://www.w3.org/TR/html51/semantics.html#alt>
* <https://www.w3.org/TR/WCAG20/#text-equiv-all>
* <https://www.w3.org/TR/WCAG-TECHS/H36.html>
* <https://www.w3.org/TR/WCAG-TECHS/H37.html>
* <https://www.w3.org/TR/WCAG-TECHS/H24.html>
* <https://www.w3.org/TR/WCAG-TECHS/H67.html>
* <https://www.w3.org/TR/WCAG-TECHS/F39.html>
* <https://www.w3.org/TR/WCAG-TECHS/F38.html>
* <https://www.w3.org/TR/WCAG-TECHS/F65.html>

##Bibliografia dla odstępów w tekście
* <https://www.w3.org/TR/WCAG21/#text-spacing>
* <https://developer.paciellogroup.com/blog/2018/05/short-note-on-getting-spaced-out-with-sc-1-4-12-text-spacing/>.

*/


/*doc
---
title: "Bez alt, bez title"
name: check-alt-1
category: WebExtension
---

```html_example
<img src="static/checkalts/1.jpg" /><span>†</span>
```
*/


/*doc
---
title: "Jeden alt, jeden title"
name: check-alt-2
category: WebExtension
---

```html_example
<img alt="Maszyna do pisania" title="Ostatni dzień sierpnia" src="static/checkalts/2.jpg" /><span>†</span>
```
*/


/*doc
---
title: "Pusty alt, bez title"
name: check-alt-3
category: WebExtension
---

```html_example
<img alt="" src="static/checkalts/3.jpg" /><span>†</span>
```
*/


/*doc
---
title: "Jeden alt, bez title"
name: check-alt-4
category: WebExtension
---

```html_example
<img src="static/checkalts/4.jpg" alt="Zachód słońca" /><span>†</span>
```
*/


/*doc
---
title: "[lang]"
name: check-alt-6
category: WebExtension
---

##Selektor
```css_example
[lang]
```

##Test
```html_example
<p>Tylko testowanie języków. <span lang="fr">Voilà</span>.</p>
```
*/


/*doc
---
title: "[hreflang]"
name: check-alt-5
category: WebExtension
---

##Selektor
```css_example
[hreflang]
```

##Test
```html_example
<p>Oto prosta droga do <a href="https://www.ffoodd.fr" hreflang="fr">mojej własnej strony internetowej</a>.</p>
```
*/ 
