@charset "UTF-8";

/*doc
---
title: ""
name: check-alt-0
category: "Rozszerzenia przeglądarek"
---

[Rozszerzenie przeglądarek - które ma swoje własne repozytorium -] (https://github.com/ffoodd/a11y.css-webextension) dostarcza kilku dodatkowych narzędzi wymagających odrobiny JavaScriptu:

* Wymuszenie fokusu;
* Pokazywanie atrybutu <code>lang</code>;
* Sprawdzanie `alt` i `title` w `<img>`;
* Zwiększanie odstępów w tekście.

### Opis
Ta strona dostarcza fałszywych treści z:

* atrybutami języka,
* obrazkami: niektóre mają poprawny atrybut `alt`, inne nie, niektóre mają pusty `alt`.

Dzięki temu możemy przetestować dwa moduły rozszerzeń pzeglądarek.

### Bibliografia dla `alt` i `title` w `<img>`
* <https://rgaa.lepszyweb.pl/rgaa4-kryteria.html#crit-1-1>
* <https://rgaa.lepszyweb.pl/rgaa4-kryteria.html#crit-1-2>
* <https://www.accede-web.com/notices/html-css-javascript/6-images-icones/6-3-balise-img/>
* <https://www.w3.org/WAI/tutorials/images/decision-tree/>
* <https://www.w3.org/TR/html51/semantics.html#alt>
* <https://www.w3.org/TR/WCAG21/#non-text-content>
* <https://www.w3.org/WAI/WCAG21/Techniques/html/H36>
* <https://www.w3.org/WAI/WCAG21/Techniques/html/H37>
* <https://www.w3.org/WAI/WCAG21/Techniques/html/H24>
* <https://www.w3.org/WAI/WCAG21/Techniques/html/H67>
* <https://www.w3.org/WAI/WCAG21/Techniques/failures/F39>
* <https://www.w3.org/WAI/WCAG21/Techniques/failures/F38>
* <https://www.w3.org/WAI/WCAG21/Techniques/failures/F65>

### Bibliografia dla problemu odstępy w tekście
* <https://www.w3.org/TR/WCAG21/#text-spacing>
* <https://developer.paciellogroup.com/blog/2018/05/short-note-on-getting-spaced-out-with-sc-1-4-12-text-spacing/>.

*/

/*doc
---
title: "Bez alt, bez title"
name: check-alt-1
category: "Rozszerzenia przeglądarek"
---

``` html
<img src="./static/checkalts/1.jpg" /><span>†</span>
```
*/

/*doc
---
title: "Jeden alt, jeden title"
name: check-alt-2
category: "Rozszerzenia przeglądarek"
---

``` html
<img alt="Maszyna do pisania" title="Ostatni dzień sierpnia" src="./static/checkalts/2.jpg" /><span>†</span>
```
*/

/*doc
---
title: "Pusty alt, bez title"
name: check-alt-3
category: "Rozszerzenia przeglądarek"
---

``` html
<img alt="" src="./static/checkalts/3.jpg" /><span>†</span>
```
*/

/*doc
---
title: "Jeden alt, bez title"
name: check-alt-4
category: "Rozszerzenia przeglądarek"
---

``` html
<img src="./static/checkalts/4.jpg" alt="Zachód słońca" /><span>†</span>
```
*/

/*doc
---
title: "[lang]"
name: check-alt-6
category: "Rozszerzenia przeglądarek"
---

### Selector
```css
[lang]
```

### Test
``` html
<p>Tylko testowanie języków. <span lang="fr">Voilà</span>.</p>
```
*/

/*doc
---
title: "[hreflang]"
name: check-alt-5
category: "Rozszerzenia przeglądarek"
---

### Selector
```css
[hreflang]
```

### Test
``` html
<p>Oto prosta <a href="https://www.ffoodd.fr" hreflang="fr">droga do dobrej strony internetowej</a>.</p>
```
*/
